@media only screen and (min-width: 360px) and (max-width: 640px) {
    .header-flex{
      display: none;
    }
    .main-flex{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .main-body{
      width: 100%;
      height: auto;
    }
    .main-body > a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .main-body > a > button{
    width: 15rem;
    height: 3rem;   
    background-color: #4346DE;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
    }
    .main-flex > .card{
      width: 85%;
      height: 50vh;
      box-shadow: 24px 48px 88px rgb(24, 35, 52, 32%);
      transform: perspective(1000px) rotateY(-13deg) rotateX(5deg) rotateZ(7deg) scaleY(0.9) scaleX(0.95) translateX(-3%) translateY(-3%);
      background-color: unset;
    }
    #card__items {
      width: 100%;
      margin: 28% auto 15% auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
    .card__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       overflow: hidden;
       cursor: pointer;
       text-align: center;
     }
     .card__item > div{
        color: #000;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 600;
        clear: both;
        color: #182334;
        margin: 5px 0 5px 0;
    }
     .start > p{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      width: 90%;
      opacity: .7;
      font-size: 20px;
      margin: 2rem auto;
    }
    .main-flex-first{
      margin-top: 5%;
      margin-bottom: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .main-body-first{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .main-flex-first > .card{
      width: 90%;
      height: 50vh;
      box-shadow: 24px 48px 88px rgb(24, 35, 52, 32%);
      transform: perspective(1000px) rotateY(-13deg) rotateX(5deg) rotateZ(7deg) scaleY(0.9) scaleX(0.95) translateX(-3%) translateY(-3%);
      background-color: unset;
    }
    
    .main-flex-second{
      margin-bottom:3em;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    
    }
    .main-flex-second > .card{
      width: 90%;
      height: 50vh;
    box-shadow: -24px 48px 88px rgb(24, 35, 52, 32%);
    transform: perspective(1000px) rotateY(13deg) rotateX(5deg) rotateZ(-7deg) scaleY(0.9) scaleX(0.95) translateX(3%) translateY(-3%);
    }
    
    .main-body-second{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .background {
      position: absolute;
      left: 0;   
      top: 0;
      width: 100%;
      height: 135%; 
      background: var(--indigo-background);
      z-index: -1;
      transition: all 250ms ease-in;
    }
    .bills-container{
      background-color: var(--white);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
    }
    
    .first-card{
      width: 100%;
      margin-left: 0;
      background-color: var(--white);
      box-shadow: 24px 48px 88px rgb(24, 35, 52, 32%);
      padding: 1.5rem;
      border-radius: 10px;
      margin-bottom: 3rem;
    }
    .nisi-flex{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 0;
      border-top: 2px solid var(--gray-border);
      border-bottom: 2px solid var(--gray-border);
    }
    .nisi-flex > a > button{
      width: 15rem;
      height: 3rem;   
      background-color: #4346DE;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      cursor: pointer;
      outline: none;
      border: none;
      }
      .nisi{
        font-size: 20px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
      }
      #bold-start{
        text-align: center;
        font-size: 35px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bolder;
    }
    .main-body-head-first{
      font-size: 28px;
      color: #182334;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: 600;
  }
    .main-body-head-second{
      font-size: 28px;
      color: #182334;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: 600;
  }

  footer{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #768DB2;
  }
  .erg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-icons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
    }